.modal {
  position: fixed;
  background-color: #1715157f;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_content {
  padding: 20px;
  background-color: #fff;
}
